src/com/makhnovetc/ifmo/soap/lab2/PersonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab1.soap.ifmo.makhnovetc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab1.soap.ifmo.makhnovetc.com/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://lab1.soap.ifmo.makhnovetc.com/" schemaLocation="http://localhost:8080/PersonService?xsd=1" />
</xsd:schema>
</types>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson" />
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse" />
</message>
<message name="insertPerson">
<part name="parameters" element="tns:insertPerson" />
</message>
<message name="insertPersonResponse">
<part name="parameters" element="tns:insertPersonResponse" />
</message>
<message name="findPeople">
<part name="parameters" element="tns:findPeople" />
</message>
<message name="findPeopleResponse">
<part name="parameters" element="tns:findPeopleResponse" />
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson" />
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse" />
</message>
<message name="getPersonsQuery">
<part name="parameters" element="tns:getPersonsQuery" />
</message>
<message name="getPersonsQueryResponse">
<part name="parameters" element="tns:getPersonsQueryResponse" />
</message>
<portType name="PersonWebService">
<operation name="updatePerson">
<input message="tns:updatePerson" />
<output message="tns:updatePersonResponse" />
</operation>
<operation name="insertPerson">
<input message="tns:insertPerson" />
<output message="tns:insertPersonResponse" />
</operation>
<operation name="findPeople">
<input message="tns:findPeople" />
<output message="tns:findPeopleResponse" />
</operation>
<operation name="deletePerson">
<input message="tns:deletePerson" />
<output message="tns:deletePersonResponse" />
</operation>
<operation name="getPersonsQuery">
<input message="tns:getPersonsQuery" />
<output message="tns:getPersonsQueryResponse" />
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="updatePerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertPerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findPeople">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletePerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPersonsQuery">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService" />
</port>
</service>
</definitions>